@import "./global.scss";
@import "./vars.scss";

.hero {
  background-image: linear-gradient(rgba(91, 72, 58, 1), rgba(38, 36, 37, 1));
  width: 100%;
  height: 728px;
  &-wrapper {
    display: flex;
    text-align: left;
    gap: 42px;
    &_info {
      display: flex;
      flex-direction: column;
      gap: 42px;
      justify-content: center;
      width: 460px;
      &_title {
        @include fontsH();
        color: $white;
        margin-right: 192px;
        line-height: 57px;
      }
      &_text {
        @include fontsB();
        color: $gray;
      }
      &_link {
        width: 207px;
        padding: 15px 45px;
        border-radius: 100px;
      }
      &_route {
        color: rgba(41, 41, 41, 1);
      }
    }
  }
  &-img {
    background-image: url(../../assets//images//start-screen-puppy.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 698px;
    height: 728px;
  }
}
.about {
  margin: 80px 215px;
  &-img {
    background-image: url(../../assets/images/about-pets.jpg);
    background-repeat: no-repeat;
    height: 408px;
  }
  &-title {
    color: $black;
  }

  &-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
  }
  &-btn {
    width: 207px;
    border-radius: 100px;
  }
  &-link{
    color: $black;
  }
  &-proper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: left;
  }
}
