$georgia: "Georgia", serif;
$Arial: "Arial", sans-serif;
$mainColor: #f1cdb3;
$white: white;
$white-light: #fafafa;
$gray: #cdcdcd;
$black: #292929;
$dark-lighter: #545454;
$dark-light: #4c4c4c;
$gray-dark: #828282;
$letterS: 0.06em;
$hoverC: #fddcc4;
